### Prediksi Harga Rumah dengan Regresi Linear (Multi Variabel)

In [47]:
import pandas as pd
import numpy as np
from sklearn import linear_model

df = pd.read_csv("Dataset/datarumahmv.csv")
df

   luas  kamartidur  kamarmandi      harga
0   120         3.0           2  130000000
1   135         3.0           3  148000000
2   140         NaN           4  160000000
3   180         5.0           3  210000000
4   220         6.0           5  285000000

#### DATA PREPROCESSING (MERAPIKAN DATA DAN MENGISI DATA YANG HILANG)

In [48]:
# at untuk mengisi value (8), index ke=2, kolom kamartidur
# Cell yang kosong diisi dengan nilal 0 terlebih dahulu
df.at[2, 'kamartidur']=0
df

   luas  kamartidur  kamarmandi      harga
0   120         3.0           2  130000000
1   135         3.0           3  148000000
2   140         0.0           4  160000000
3   180         5.0           3  210000000
4   220         6.0           5  285000000

In [49]:
# Mengganti nilai 0 menjadi NaN (Not A Number)
df.replace(0, np.nan, inplace=True)
df

   luas  kamartidur  kamarmandi      harga
0   120         3.0           2  130000000
1   135         3.0           3  148000000
2   140         NaN           4  160000000
3   180         5.0           3  210000000
4   220         6.0           5  285000000

In [50]:
# Mengganti nilai median dari kolom kamartidur
df.kamartidur.median()

4.0

In [51]:
# Membulatkan nilai kebawah
import math
nilai_median_kamartidur = math.floor(df.kamartidur.median())
nilai_median_kamartidur

4

In [52]:
# fillna untuk nengganti NaN value
df.kamartidur.fillna(nilai_median_kamartidur)

0    3.0
1    3.0
2    4.0
3    5.0
4    6.0
Name: kamartidur, dtype: float64

In [53]:
# Menampilkan value yang baru ke dalam DataFrame
df.kamartidur = df.kamartidur.fillna(nilai_median_kamartidur)
df

   luas  kamartidur  kamarmandi      harga
0   120         3.0           2  130000000
1   135         3.0           3  148000000
2   140         4.0           4  160000000
3   180         5.0           3  210000000
4   220         6.0           5  285000000

In [54]:
# Modul Regresi Linear
reg = linear_model.LinearRegression()
reg.fit(df[['luas','kamartidur','kamarmandi']],df.harga)

LinearRegression()

In [55]:
# Menampilkan nilai slope (jika dibutuhkan)
reg.coef_

array([ 1492322.09737828, -1900749.06367043,  4544943.82022473])

In [56]:
# Menampilkan nilai intersep (jika dibutuhkan)
reg.intercept_

-58148876.404494435

In [57]:
# Prediksi
int(reg.predict([[245,7,7]]))

C:\Users\Administrator\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

325979400

In [58]:
# Pembuktian
1492322.09737828*245+-1900749.06367041*7+4544943.82022472*7+-58148876.404494345

325979400.7490644